<!-- -->

  <mat-card class="authentication-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-content class="auth-form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" name="name">
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="registerForm.get('name')?.hasError('pattern')">Must be your full name</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email">
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Enter Valid Email address</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" name="password" type="password">
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="registerForm.value.password">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" name="confirmPassword" type="password">
            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="!registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.hasError('confirmPassword')">Passwords do not match.</mat-error>
          </mat-form-field>
        </div>
        <div class="auth-actions">
            <button mat-raised-button color="primary" type="submit">Register</button>
            <p class="login-text">Have already an account? <a href="/login" ><u>Login here</u></a></p>
        </div>
        
      </form> 
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>